html {
  background-color: #000000;
  color: #ffffff;
  font-size: 12px;
}

select {
  font-size: 12px;
}

h2 {
  margin: 0 0 2px;
}

.hblock {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.vblock {
  display: block;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 2px;
  margin: 3px 0;
}

#viz-wrapper, #notes {
  display: inline-block;
  vertical-align: top;
}

ul {
  padding-left: 1.5em;
}

svg {
  margin: 5px;
  
  --color-lane-car: #dddddd;
  --color-intersection-car: #d4d4d4;
  --color-lane-pedestrian: #cccccc;
  --color-intersection-pedestrian: #c3c3c3;
  --color-lane-cycle: #ffdddd;
  --color-intersection-cycle: #f4d2d2;
  --color-lane-parking: #eeeeff;
  --color-intersection-parking: #e0e0f4;
}

/*
svg .lane.car {
  fill: var(--color-lane-car);
}

svg .intersection.car {
  fill: var(--color-lane-car);
}

svg .lane.pedestrian {
  fill: var(--color-lane-pedestrian);
}

svg .intersection.pedestrian {
  fill: var(--color-lane-pedestrian);
}

svg .lane.cycle {
  fill: var(--color-lane-cycle);
}

svg .intersection.cycle {
  fill: var(--color-lane-cycle);
}

svg .lane.parking {
  fill: var(--color-lane-parking);
}

svg .intersection.parking {
  fill: var(--color-lane-pedestrian);
}

svg .retraction.parking {
  fill: var(--color-lane-pedestrian);
}

svg .lane.green {
  fill: #99dd99;
}

svg .intersection.green {
  fill: #96d896;
}
*/
button {
  cursor: pointer;
}

select {
  font-size: 1rem;
  padding: 0.2em;
}
/* Hack for styling the upload button, but this breaks drag & drop, so disabling */
/*
.fileform input[type=file] {
  opacity: 0;
}

.fileform label,
.fileform button {
  color: black;
  background-color: rgb(240, 240, 240);
  background-color: buttonface;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px outset black;
  border-color: buttonborder;
  font-size: 1rem;
  font-family: sans-serif;
  height: auto;
  cursor: pointer;
}

.fileform label:hover,
.fileform button:hover {
  background-color: rgb(220, 220, 220);
}

.fileform label:active,
.fileform button:active {
  background-color: rgb(240, 240, 240);
  background-color: buttonface;
}
*/